.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter___details {
  height: 50px;
  min-width: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffdfa7;
  padding: 5px;
  border: 5px solid #ca9650;
}

.fighter___details:hover {
  background: #cbe4f8;
  border: 5px solid #267abf;
}

.fighter___detail {
  padding: 0 10px;
  justify-self: right;
  text-align: center;
  color: #ba0303;
  font-size: 18px;
  font-weight: bold;
}